@model CadastroClienteApi.Models.Cliente
@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes do Cliente";
}
<h1>Detalhes do Cliente</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-3">
            ID (Mongo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</div>